/* BEVGOLDIN | INDEX.HTML CSS */
.summary {
  margin-top: 5%;
}
.portrait {
  width: 15%;
  height: 15%;
  max-width: 290px;
  max-height: 290px;
  float: left;
  margin-left: 4.2%;
  margin-right: 1%;
  margin-top: 15px;
  border: 2px solid black;
}
.desc1 {
  position: relative;
  margin: 0;
  margin-left: 5%;
  width: 90%;
  height: auto;
  max-height: 280px;
}
